/* BANNER */
.banner{
  width: 100vw;
  height: 100vh;
 /* background-image: linear-gradient(135deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.2) 50%), url('https://source.unsplash.com/3wTmlAZ2Nxw/1440x768');*/
  /*background-image: linear-gradient(135deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.2) 50%), url('https://source.unsplash.com/_kdTyfnUFAc/1440x768');*/
  background-image: linear-gradient(135deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.2) 50%), url('https://source.unsplash.com/OgvqXGL7XO4/1440x768');
  background-size: cover;
  background-position: center;
}

.banner-brand {
    text-align: left;
    margin-left: 10vw;
    //border: solid 1px red;
}

.banner-title {
    margin-top: 20vh;
    margin-left: 20vw;
    //border: solid 1px blue;
}

.banner-title h1 {
    width: 100vw;
    text-align: left;
    font-size: 2.8em;
    color: white;
    font-weight: bold;
    /*margin: 150px 0;*/
}

.banner-title p {
    color: white;
    font-size: 2em;
  }

